# Домашнее задание по теме: пакет `pandas` (сводные таблицы)

## Подготовка окружения

In [1]:
# ВНИМАНИЕ: необходимо удостовериться, что виртуальная среда выбрана правильно!

!pip -V

pip 20.3.3 from C:\Users\skovalchuk\.conda\envs\levelup_ds\lib\site-packages\pip (python 3.8)

In [2]:
# !conda install numpy pandas matplotlib -y

In [3]:
import pandas as pd

pd.__version__

'1.2.3'

## Загрузка данных

[Источник (Hotel booking demand)](https://www.kaggle.com/jessemostipak/hotel-booking-demand)

[Описание колонок](https://www.sciencedirect.com/science/article/pii/S2352340918315191#t0005)

ВНИМАНИЕ: Предварительно датасет необходимо скачать к себе на локальный компьютер.

In [4]:
# загрузить датасет в pandas dataframe
df = pd.read_csv('hotel_bookings.csv')
# показать все колонки
pd.options.display.max_columns = None
# вывести первые 5 и последние 5 строк
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [5]:
# вывести список колонок
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

## Сводная таблица

In [12]:
# взаимосвязь между 
# постоянством клиентов (is_repeated_guest), 
# типом отеля (hotel) и отменой брони (is_canceled)
pvt = df.pivot_table(index='is_repeated_guest', 
                     columns='hotel',
                     values='is_canceled',
                     aggfunc='sum')
pvt

hotel              City Hotel  Resort Hotel
is_repeated_guest
0                       32661         11011
1                         441           111

In [25]:
# взаимосвязь между 
# постоянством клиентов (is_repeated_guest),
# количеством детей (children)
# типом отеля (hotel) и отменой брони (is_canceled)
pvt = df.pivot_table(index='is_repeated_guest', 
                     columns=['children', 'hotel'],
                     values='is_canceled',
                     aggfunc='sum')
pvt

children                0.0                     1.0                     2.0   \
hotel             City Hotel Resort Hotel City Hotel Resort Hotel City Hotel
is_repeated_guest
0                    30848.0       9698.0     1007.0        557.0      787.0
1                      438.0        110.0        2.0          1.0        1.0

children                             3.0                       10.0
hotel             Resort Hotel City Hotel Resort Hotel Resort Hotel
is_repeated_guest
0                        753.0       15.0          2.0          1.0
1                          0.0        0.0          0.0          NaN

In [27]:
# взаимосвязь между 
# постоянством клиентов (is_repeated_guest),
# типом депозита (deposit_type)
# типом отеля (hotel) и отменой брони (is_canceled)
# + привести обобщенные значения по каждой группе
pvt = df.pivot_table(index=['is_repeated_guest', 'deposit_type'], 
                     columns=['hotel'],
                     values='is_canceled',
                     aggfunc='sum',
                     margins=True)
pvt

hotel                           City Hotel  Resort Hotel    All
is_repeated_guest deposit_type
0                 No Deposit       19862.0        9340.0  29202
                  Non Refund       12785.0        1649.0  14434
                  Refundable          14.0          22.0     36
1                 No Deposit         382.0         110.0    492
                  Non Refund          59.0           1.0     60
                  Refundable           NaN           0.0      0
All                                33102.0       11122.0  44224

In [29]:
# используя функцию cut разбить значения 
# в столбце lead_time на 6 бинов (интервалов)
lead_time_bins = pd.cut(df['lead_time'], 6)

# вывести результат
lead_time_bins

0           (245.667, 368.5]
1           (614.167, 737.0]
2          (-0.737, 122.833]
3          (-0.737, 122.833]
4          (-0.737, 122.833]
                 ...
119385     (-0.737, 122.833]
119386     (-0.737, 122.833]
119387     (-0.737, 122.833]
119388     (-0.737, 122.833]
119389    (122.833, 245.667]
Name: lead_time, Length: 119390, dtype: category
Categories (6, interval[float64]): [(-0.737, 122.833] < (122.833, 245.667] < (245.667, 368.5] < (368.5, 491.333] < (491.333, 614.167] < (614.167, 737.0]]

In [31]:
# число вхождений в каждый бин (интервал)
pd.value_counts(lead_time_bins)

(-0.737, 122.833]     79245
(122.833, 245.667]    26046
(245.667, 368.5]      11019
(368.5, 491.333]       2572
(491.333, 614.167]      425
(614.167, 737.0]         83
Name: lead_time, dtype: int64

In [34]:
# взаимосвязь между 
# постоянством клиентов (is_repeated_guest),
# lead_time_intervals
# типом отеля (hotel) и отменой брони (is_canceled)
pvt = df.pivot_table(index=['is_repeated_guest', lead_time_bins], 
                     columns=['hotel'],
                     values='is_canceled',
                     aggfunc='sum')
pvt

hotel                                 City Hotel  Resort Hotel
is_repeated_guest lead_time
0                 (-0.737, 122.833]        16883          5964
                  (122.833, 245.667]        8412          3518
                  (245.667, 368.5]          5492          1327
                  (368.5, 491.333]          1435           202
                  (491.333, 614.167]         358             0
                  (614.167, 737.0]            81             0
1                 (-0.737, 122.833]          239            82
                  (122.833, 245.667]          15            25
                  (245.667, 368.5]           187             4
                  (368.5, 491.333]             0             0
                  (491.333, 614.167]           0             0
                  (614.167, 737.0]             0             0